.auth {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    .auth-form {
        width: 100%;
        max-width: 350px;
        padding: 1.6rem;
        background-color: $primary;
        box-shadow: 0 0 7px rgba(0,0,0,0.16);

        h4 {
            color: #ffffff;
            margin: 0px 0px 30px;
            font-weight: 300;

            small {
                display: block;
            }
        }

        .auth-social {
            margin-top: 24px;
        }

        .propose-signup {
            color: #dddddd;
            margin: 30px 0 0;
            font-weight: 300;
        }
    }
}