@import url('https://fonts.googleapis.com/css?family=Muli:600|Poppins:300,400,700');

/* Icons */

@font-face {
  font-family: 'icomoon';
  src: url('/fonts/icomoon.eot?al3rqb');
  src: url('/fonts/icomoon.eot?al3rqb#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf?al3rqb') format('truetype'), url('/fonts/icomoon.woff?al3rqb') format('woff'),
    url('/fonts/icomoon.svg?al3rqb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-paper-plane:before {
  content: '\e900';
}

html {
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.45;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
}

p {
  margin-bottom: 1.3em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  letter-spacing: 1px;
  font-family: 'Muli', sans-serif;
}

h1,
h2,
h3,
h4 {
  margin: 1.414em 0 0.5em;
  line-height: 1.2;
}

h5 {
  letter-spacing: 0.6px;
}

h1 {
  margin-top: 0;
  font-size: 2.441em;
}

h2 {
  font-size: 1.953em;
}

h3 {
  font-size: 1.563em;
}

h4 {
  font-size: 1.25em;
}
h5 {
  font-size: 1em;
}

small,
.font_small {
  font-size: 0.8em;
}
