form {
  &.flex-form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: flex-start;
  }
  &.chat-message-form {
    .form-group {
      margin-bottom: 2px;
    }
  }

  .form-group {
    margin-bottom: 24px;
    width: 100%;

    label {
      color: #cccccc;
      display: block;
      font-size: 0.825em;
      margin-bottom: 5px;
      letter-spacing: 0.5px;
    }

    .form-control {
      &[type='text'],
      &[type='password'],
      &[type='email'],
      &[type='number'],
      &[type='tel'] {
        background-color: $input-bg;
        border: 2px solid $input-border-color;
        padding: 10px 10px;
        width: 100%;
        border-radius: 3px;
        color: #ffffff;
        font-weight: 300;
        letter-spacing: 0.5px;
        transition: border-color 0.3s ease;
        line-height: 1.4;

        &:focus {
          outline: none;
          border-color: $input-border-color-focus;
        }
      }

      &[type='password'] {
        letter-spacing: 1px;
      }

      &[type='checkbox'] {
        display: none;

        & + label {
          position: relative;
          padding-left: 30px;
          min-height: 20px;
          padding-top: 2px;

          &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 20px;
            height: 20px;
            border: 2px solid $input-border-color;
            border-radius: 3px;
          }
        }

        &:checked {
          & + label {
            &:before {
              background: url('/images/check.svg') no-repeat center center;
            }
          }
        }
      }

      &[type='radio'] {
        display: none;

        & + label {
          position: relative;
          padding-left: 30px;
          min-height: 20px;
          padding-top: 2px;

          &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 20px;
            height: 20px;
            border: 2px solid $input-border-color;
            border-radius: 50%;
          }
        }

        &:checked {
          & + label {
            &:after {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 10px;
              height: 10px;
              border-radius: 50%;
              background-color: $secondary;
              top: 5px;
              left: 5px;
            }
          }
        }
      }
    }

    textarea.form-control,
    .textarea.form-control {
      background-color: $input-bg;
      border: 2px solid $input-border-color;
      padding: 10px 10px;
      width: 100%;
      border-radius: 3px;
      color: #ffffff;
      font-weight: 300;
      letter-spacing: 0.5px;
      transition: border-color 0.3s ease;
      resize: vertical;
      min-height: 100px;
      font-size: 0.875rem;

      &:focus {
        outline: none;
        border-color: $input-border-color-focus;
      }
    }

    .error-msg {
      color: $error-color;
      font-weight: 300;
      text-align: right;
    }
  }
}

.btn {
  border: none;
  padding: 14px 20px;
  color: #ffffff;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 300;
  border-radius: 3px;
  text-align: center;
  line-height: 1.15;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);

  &.btn-block {
    display: block;
    width: 100%;
  }

  &.btn-sm {
    text-transform: none;
    letter-spacing: 0px;
    padding: 8px 26px;
    transition: all 0.3s ease;
    display: inline-block;

    &:hover {
      box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.2);
    }
  }

  &.btn-primary {
    background: linear-gradient(90deg, $btnbg1 0%, $btnbg2 100%);
    transition: box-shadow 0.3s ease;
    min-width: 100px;

    &:hover {
      box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.16);
    }
  }

  &.btn-outline {
    background: $primary-bg;
    transition: all 0.3s ease;
    min-width: 150px;
    box-shadow: inset 0px 0px 0px 2px $btnbg1;
    color: $btnbg1;

    &:hover {
      background: $btnbg1;
      color: #ffffff;
    }
  }

  &.btn-link {
    overflow: hidden;
    position: relative;
    z-index: 1;
    color: $btnbg1;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      z-index: -1;
      transition: all 0.15s ease-in-out;
      background: linear-gradient(90deg, $btnbg1 0%, $btnbg2 100%);
      border-radius: 3px;
    }

    &:hover {
      color: #ffffff;

      &:before {
        left: 0;
      }
    }
  }

  &.btn-google {
    border: 2px solid #da4a22;
    background-color: transparent;
    text-transform: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 11px 20px;

    &:hover {
      transition: box-shadow 0.3s ease;
      box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.16);
    }
  }
}
