.icon-google {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url('/images/google-logo.png') no-repeat center/100%;
  vertical-align: middle;
  margin-right: 6px;
}

.icon-close {
  font-style: normal;
  font-family: sans-serif;
}
