fieldset[disabled] .multiselect {
  pointer-events: none;
}

.multiselect__spinner {
  position: absolute;
  right: 1px;
  top: 1px;
  width: 48px;
  height: 35px;
  background: #fff;
  display: block;
  &:before,
  &:after {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    margin: -8px 0 0 -8px;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    border-color: #41b883 transparent transparent;
    border-style: solid;
    border-width: 2px;
    box-shadow: 0 0 0 1px transparent;
  }
  &:before {
    animation: spinning 2.4s cubic-bezier(0.41, 0.26, 0.2, 0.62);
    animation-iteration-count: infinite;
  }
  &:after {
    animation: spinning 2.4s cubic-bezier(0.51, 0.09, 0.21, 0.8);
    animation-iteration-count: infinite;
  }
}

.multiselect__loading-enter-active,
.multiselect__loading-leave-active {
  transition: opacity 0.4s ease-in-out;
  opacity: 1;
}

.multiselect__loading-enter,
.multiselect__loading-leave-active {
  opacity: 0;
}

.multiselect,
.multiselect__input,
.multiselect__single {
  font-family: inherit;
  font-size: 14px;
  touch-action: manipulation;
}

.multiselect {
  box-sizing: content-box;
  display: block;
  position: relative;
  width: 100%;
  min-height: 40px;
  text-align: left;
  color: #ffffff;

  * {
    box-sizing: border-box;
  }
  &:focus {
    outline: none;
  }
}

.multiselect--disabled {
  pointer-events: none;
  opacity: 0.6;
}

.multiselect--active {
  z-index: 50;
  &:not(.multiselect--above) {
    .multiselect__current,
    .multiselect__input,
    .multiselect__tags {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-color: $input-border-color-focus;
    }

    .multiselect__content-wrapper {
      border-color: $input-border-color-focus;
    }
  }
  .multiselect__select {
    transform: rotateZ(180deg);
  }
}

.multiselect--above.multiselect--active {
  .multiselect__current,
  .multiselect__input,
  .multiselect__tags {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.multiselect__input,
.multiselect__single {
  position: relative;
  display: inline-block;
  min-height: 20px;
  line-height: 20px;
  border: none;
  border-radius: 5px;
  background: $input-bg;
  padding: 0 0 0 5px;
  width: calc(100%);
  transition: border 0.1s ease;
  box-sizing: border-box;
  margin: 0;
  vertical-align: top;
  color: #ffffff;
}

.multiselect__input::placeholder {
  color: #ffffff;
}

.multiselect__tag ~ {
  .multiselect__input,
  .multiselect__single {
    width: auto;
  }
}

.multiselect__input:hover,
.multiselect__single:hover {
  border-color: #cfcfcf;
}

.multiselect__input:focus {
  border-color: #a8a8a8;
  outline: none;
}

.multiselect__single {
  padding-left: 5px;
  margin-bottom: 0;

  &:focus {
    border-color: #a8a8a8;
    outline: none;
  }
}

.multiselect__tags-wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.multiselect__tags {
  min-height: 40px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0px 40px 0 8px;
  border-radius: 5px;
  border: 2px solid $input-border-color;
  background: $input-bg;
  font-size: 14px;
  transition: border-color 0.3s ease;
}

.multiselect__tag {
  position: relative;
  display: inline-block;
  padding: 4px 26px 4px 10px;
  border-radius: 4px;
  margin-right: 10px;
  color: #fff;
  line-height: 1;
  background: $btnbg1;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
  margin: 5px 10px 5px 0px;

  &-icon {
    cursor: pointer;
    margin-left: 7px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    font-weight: 700;
    font-style: initial;
    width: 22px;
    text-align: center;
    line-height: 22px;
    transition: all 0.2s ease;
    border-radius: 5px;
    &:after {
      content: '×';
      color: #ffffff;
      font-size: 14px;
    }
    &:focus,
    &:hover {
      background: $btnbg2;
    }
    &:focus:after,
    &:hover:after {
      color: white;
    }
  }
}

.multiselect__current {
  line-height: 16px;
  min-height: 40px;
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  padding: 8px 12px 0;
  padding-right: 30px;
  white-space: nowrap;
  margin: 0;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  cursor: pointer;
}

.multiselect__select {
  line-height: 16px;
  display: block;
  position: absolute;
  box-sizing: border-box;
  width: 40px;
  height: 38px;
  right: 1px;
  top: 1px;
  padding: 4px 8px;
  margin: 0;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease;
  &:before {
    position: relative;
    right: 0;
    top: 65%;
    color: #999;
    margin-top: 4px;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #999999 transparent transparent transparent;
    content: '';
  }
}

.multiselect__placeholder {
  color: #adadad;
  display: inline-block;
  margin: 0;
}

.multiselect--active .multiselect__placeholder {
  display: none;
}

.multiselect__content-wrapper {
  position: absolute;
  display: block;
  background: #fff;
  width: 100%;
  max-height: 240px;
  overflow: auto;
  border: 2px solid $input-border-color;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 50;
  -webkit-overflow-scrolling: touch;
  transition: border-color 0.3s ease;
}

.multiselect__content {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin: 0;
  min-width: 100%;
  vertical-align: top;
}

.multiselect--above .multiselect__content-wrapper {
  bottom: 100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: none;
  border-top: 1px solid #e8e8e8;
}

.multiselect__content::webkit-scrollbar {
  display: none;
}

.multiselect__element {
  display: block;
}

.multiselect__option {
  display: block;
  padding: 12px;
  min-height: 40px;
  line-height: 16px;
  text-decoration: none;
  text-transform: none;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  background-color: $input-bg;
  &:after {
    top: 0;
    right: 0;
    position: absolute;
    line-height: 40px;
    padding-right: 12px;
    padding-left: 20px;
    font-size: 13px;
  }

  &:hover {
    background: $input-border-color;
  }
}

// .multiselect__option--highlight {
//   background: $input-border-color;
//   outline: none;
//   color: white;
//   &:after {
//     content: attr(data-select);
//     background: #41b883;
//     color: white;
//   }
// }

.multiselect__option--selected {
  background: $secondary-bg;
  color: #ffffff;
  font-weight: bold;

  &:after {
    content: attr(data-selected);
    color: silver;
  }
  //   &.multiselect__option--highlight {
  //     background: $input-border-color;
  //     color: #fff;
  //     &:after {
  //       background: $input-border-color;
  //       content: attr(data-deselect);
  //       color: #fff;
  //     }
  //   }
}

.multiselect--disabled {
  background: #ededed;
  pointer-events: none;
  .multiselect__current,
  .multiselect__select {
    background: #ededed;
    color: #a6a6a6;
  }
}

.multiselect__option--disabled {
  background: #ededed !important;
  color: #a6a6a6 !important;
  cursor: text;
  pointer-events: none;
}

.multiselect__option--group {
  background: #ededed;
  color: #35495e;
  &.multiselect__option--highlight {
    background: #35495e;
    color: #fff;
    &:after {
      background: #35495e;
    }
  }
}

.multiselect__option--disabled.multiselect__option--highlight {
  background: #dedede;
}

.multiselect__option--group-selected.multiselect__option--highlight {
  background: #ff6a6a;
  color: #fff;
  &:after {
    background: #ff6a6a;
    content: attr(data-deselect);
    color: #fff;
  }
}

.multiselect-enter-active,
.multiselect-leave-active {
  transition: all 0.15s ease;
}

.multiselect-enter,
.multiselect-leave-active {
  opacity: 0;
}

.multiselect__strong {
  margin-bottom: 8px;
  line-height: 20px;
  display: inline-block;
  vertical-align: top;
}

@keyframes spinning {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(2turn);
  }
}

.option__desc {
  display: flex;
  flex-direction: row;
  align-items: center;

  .option__title {
    margin-left: 10px;
  }
}
