<template>
  <div class="chat">
    <div class="chat__messages" ref="messageDisplay">
      <div class="chat__messages-list">
        <div
          class="chat__message"
          v-for="message in messages"
          :key="message.id"
          :class="getMessageClassName(message)"
        >
          <UserAvatar
            v-if="message.user && message.user.id !== currentUser.id"
            :user="message.user"
            size="sm"
          />
          <div class="chat__message-body">
            <div class="chat__message-meta" v-if="message.user">
              <div
                class="chat__message-user"
                v-if="message.user.id !== currentUser.id"
              >{{ message.user.firstName }} {{ message.user.lastName }}</div>
              <div class="chat__message-date">{{ message.createdAt | formatDate }}</div>
            </div>

            <div class="chat__message-meta" v-else>
              <div class="chat__message-user chat__message-user-deleted">Deleted Account</div>
              <div class="chat__message-date">{{ message.createdAt | formatDate }}</div>
            </div>

            <div class="chat__message-content" v-html="message.content"></div>
          </div>
        </div>
      </div>
    </div>

    <chat-message-form @onSubmit="send"></chat-message-form>
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";

import UserAvatar from "./UserAvatar.vue";
import ChatMessageForm from "./ChatMessageForm.vue";
export default {
  name: "chat",
  data: _ => ({}),
  components: {
    UserAvatar,
    ChatMessageForm
  },
  computed: {
    ...mapGetters({
      messages: "getMessages",
      isMessagesLoading: "isMessagesLoading",
      currentUser: "getCurrentUser"
    })
  },

  methods: {
    ...mapActions(["fetchMessages", "saveMessage"]),

    async tryFetchMessages() {
      if (!this.messages.length && !this.isMessagesLoading) {
        try {
          await this.fetchMessages();
          this.scrollChatToBottom();
        } catch (error) {
          console.log(error);
        }
      }
    },

    async send(message) {
      if (!message || !this.currentUser.id) return;

      const payload = {
        content: message,
        user: this.currentUser.id
      };

      await this.saveMessage(payload);
    },

    getMessageClassName(message) {
      return message.user && message.user.id === this.currentUser.id
        ? "chat__message-out"
        : "chat__message-in";
    },

    /**
     * Scroll to bottom on new message
     */
    scrollChatToBottom() {
      setTimeout(() => {
        this.$nextTick(_ => {
          console.log("scroll");
          this.$refs.messageDisplay.scrollTop = this.$refs.messageDisplay.scrollHeight;
        });
      }, 0);
    }
  },

  mounted() {
    this.tryFetchMessages();
  },

  sockets: {
    ON_MESSAGE() {
      this.scrollChatToBottom();
    }
  }
};
</script>
