<template>
  <transition-group class="notifications-list" tag="ul" name="slide-fade" mode="out-in">
    <li
      class="notification"
      v-for="notification in notifications"
      :key="notification.id"
      :class="`notification-${notification.type}`"
    >
      <button type="button" class="button-close" @click="close(notification.id)">
        <i class="icon-close"></i>
      </button>
      <p
        class="message"
        v-for="(message, index) in getMessages(notification.message)"
        :key="index"
      >{{ message }}</p>
    </li>
  </transition-group>
</template>

<script>
import { bus } from "../../events";
export default {
  data() {
    return {
      notifications: []
    };
  },
  created() {
    bus.$on("notify", this.showNotification);
  },
  mounted() {},

  methods: {
    showNotification(options) {
      console.log(options);
      options.type = options.type || "success";

      if (typeof options.message === "object" && options.message.length) {
        options.message.map(item => {
          let id = Math.floor(Math.random() * (9999 - 1) + 9999);

          if (this.notifications.length >= 5) {
            this.notifications.splice(0, 1);
          }

          this.notifications.push({
            id: id,
            type: options.type,
            delay: options.delay || null,
            message: item
          });

          if (options.delay) {
            setTimeout(() => this.close(id), options.delay);
          }
        });
      } else {
        options.id = Math.floor(Math.random() * (9999 - 1) + 9999);
        this.notifications.push(options);

        if (options.delay) {
          setTimeout(() => this.close(options.id), options.delay);
        }
      }
    },

    close(id) {
      this.notifications = this.notifications.filter(n => n.id !== id);
    },

    getMessages(messages) {
      return typeof messages === "string" ? [messages] : messages;
    }
  }
};
</script>