<template>
  <div id="app">
    <Notifications></Notifications>
    <header-bar v-if="isUserLoggedIn"></header-bar>
    <main class="flex-container">
      <transition :name="transitionName" mode="out-in">
        <router-view></router-view>
      </transition>
    </main>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import HeaderBar from "./components/partials/Header.vue";
import Notifications from "./components/partials/Notifications.vue";
import { bus } from "./events";
import routerTransitionMixin from "./mixins/router-transition.js";

export default {
  data: _ => ({}),

  mixins: [routerTransitionMixin],

  components: {
    Notifications,
    HeaderBar
  },

  async beforeMount() {
    const accessToken = localStorage.getItem("token");
    if (accessToken) {
      this.verifyIsLoggedIn();
    }
  },

  computed: {
    ...mapGetters(["isUserLoggedIn", "getUserToken"]),

    getPageTitle() {
      return this.$route.meta.title;
    },

    getPageSubtitle() {
      return this.$route.meta.subtitle;
    }
  },

  methods: {
    ...mapActions(["verifyAccess", "socketOpen"]),

    async verifyIsLoggedIn() {
      try {
        await this.verifyAccess();
        this.socketOpen(this.getUserToken);
        return;
      } catch (error) {
        bus.$emit("notify", {
          type: "error",
          message: error.message,
          delay: 5000
        });
        this.$router.replace({ path: "/login" });
      }
    }
  }
};
</script>