.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
  transition-duration: 0.2s;
  transition-property: height, opacity, transform;
  transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  overflow: hidden;
}

.slide-left-enter,
.slide-right-leave-active {
  opacity: 0;
  transform: translate(2em, 0);
}

.slide-left-leave-active,
.slide-right-enter {
  opacity: 0;
  transform: translate(-2em, 0);
}

// Fade
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

// Slide-fade
.slide-fade-enter-active {
  transition: all .2s ease;
}
.slide-fade-leave-active {
  transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
}

// List

.list-enter-active, .list-leave-active {
  transition: all 0.2s cubic-bezier(0.215, 0.610, 0.355, 1);
}
.list-enter, .list-leave-to {
  opacity: 0;
  margin-top: -34px;
}

.push-enter-active, .push-leave-active {
  transition: all 0.3s cubic-bezier(.49,.32,.1,1.43);
  transform: scale(1, 1)
}
.push-enter, .push-leave-to {
  opacity: 0;
  transform: scale(0, 0);
}


.projects-enter-active, .projects-leave-active {
  transition: all 0.2s cubic-bezier(0.215, 0.610, 0.355, 1);
  transform: scale(1, 1);
}

.projects-enter, .projects-leave-to {
  opacity: 0;
  transform: scale(0.8, 0.8);
}





@keyframes block-ui-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}