*,
::after,
::before {
  box-sizing: border-box;
}

body {
  background-color: $primary-bg;
  min-height: 100vh;
  overflow-x: hidden;
  cursor: default;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

a {
  color: $secondary;
  text-decoration: none;
}

.flex-container {
  display: flex;
  flex-direction: column;
  max-width: 1140px;
  margin: 0 auto;
  padding: 20px 14px;

  @include breakpoint(xs) {
    padding: 15px 10px;
  }
}

.pull-right {
  margin-left: auto;
}

// Header
.header {
  display: flex;
  max-width: 1140px;
  padding: 20px 14px;
  margin: 0 auto;
  border-bottom: 1px solid #303337;
  position: relative;
  z-index: 100;

  @include breakpoint(xs) {
    padding: 15px 10px;
  }

  &__logo {
    max-width: 180px;

    img {
      max-width: 100%;
    }

    .text-logo {
      font-size: 40px;
      line-height: 1;
      margin: 0;
    }
  }

  &__nav {
    display: flex;
    flex: 1;
  }

  &__main-menu {
    display: flex;
    margin: 0px 0px 0px 40px;
    padding: 0px;
    align-items: center;

    li {
      list-style: none;
      padding: 0px 20px;

      a {
        color: #ffffff;
        padding: 10px 0px;
        display: block;
        position: relative;

        &::before {
          content: '';
          width: 0px;
          height: 2px;
          position: absolute;
          left: 0;
          bottom: 0px;
          background: linear-gradient(90deg, $btnbg1 0%, $btnbg2 100%);
          transform: translateX(-50%);
          display: block;
          transition: all 0.3s cubic-bezier(0.35, -0.05, 0.25, 1.5);
        }

        &.router-link-active {
          color: $secondary;

          &::before {
            left: 50%;
            width: 100%;
          }
        }
        &:hover {
          color: $secondary;
        }
      }
    }
  }

  &__account-menu {
    display: flex;
    margin: 0px 0px 0px auto;
    padding: 0px;
    align-items: center;
    position: relative;

    .current-user {
      display: flex;
      flex-direction: row;
      align-items: center;

      &__meta {
        text-align: right;
        display: flex;
        flex-direction: column;
        padding-right: 10px;
      }

      &__name {
        color: #ffffff;
      }

      &__email {
        color: $muted-color;
        font-size: 11px;
        @include breakpoint(xs) {
          display: none;
        }
      }

      &__avatar {
        padding-left: 10px;
      }

      &__icon {
        display: flex;
        width: 40px;
        height: 40px;
        background: linear-gradient(90deg, #ff9f03 0%, #fb6608 100%);
        border-radius: 6px;
        align-items: center;
        justify-content: center;
        color: #ffffff;
        font-weight: 400;
        font-size: 16px;
        font-family: 'Poppins', sans-serif;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
      }
    }
  }

  &__account-menu {
    &:hover {
      .header__account-submenu {
        opacity: 1;
        visibility: visible;
        top: calc(100% + 10px);
      }
    }
  }

  &__account-submenu {
    margin: 0px;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    max-width: 180px;
    background-color: $secondary-bg;
    list-style: none;
    padding: 0px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    transition: all 0.3s cubic-bezier(0.35, -0.05, 0.25, 1.5);
    opacity: 0;
    visibility: hidden;

    &::before {
      content: '';
      position: absolute;
      top: -10px;
      left: 0;
      width: 100%;
      height: 10px;
    }

    &:after {
      content: '';
      position: absolute;
      top: -6px;
      right: 10px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 10px 10px 10px;
      border-color: transparent transparent $secondary-bg transparent;
    }

    li {
      border-bottom: 1px solid $primary-bg;

      &:last-child {
        border: none;
      }

      a {
        padding: 10px 20px;
        display: block;
        color: #ffffff;

        &:hover {
          color: $secondary;
        }
      }
    }
  }
}

.user {
  &__icon {
    display: flex;
    width: 40px;
    height: 40px;
    background: linear-gradient(90deg, #ff9f03 0%, #fb6608 100%);
    border-radius: 6px;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
    font-family: sans-serif;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
    line-height: 1;

    &-size-sm {
      width: 25px;
      height: 25px;
      font-size: 12px;
      border-radius: 2px;
    }
  }
}

.table {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: background 0.3s ease 0.3s;

  &__loading {
    position: relative;
    min-height: 200px;
    border-radius: 5px;
  }

  &__row {
    display: flex;
    flex-direction: row;
    background-color: $secondary-bg;
    margin-bottom: 15px;
    min-height: 48px;
    align-items: center;
    border-radius: 5px;
    padding: 0px 10px;
    transition: all 0.3s ease;

    &:hover {
      box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
    }

    &-head {
      background: none;
      margin-bottom: 0px;

      &:hover {
        box-shadow: none;
      }

      .table__column {
        font-family: 'Muli', sans-serif;
        color: $muted-color;
      }
    }
  }

  &__column {
    display: flex;
    flex: 1;
    color: #ffffff;
    align-items: center;
    padding: 0px 10px;

    &-id {
      max-width: 75px;
    }

    &-actions {
      max-width: 110px;
    }

    &.project-type {
      max-width: 120px;
    }

    &.project-members,
    &.task-assigned {
      max-width: 170px;
      .user {
        margin-right: 4px;
      }
    }

    &.task-project {
      display: block;
      max-width: 150px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &.task-priority {
      max-width: 110px;

      & > span {
        display: block;
        padding: 2px 10px;
        font-size: 12px;
        border-radius: 15px;
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
        text-transform: lowercase;
      }

      .low {
        border: 1px solid $low;
        color: $low;
      }

      .medium {
        border: 1px solid $medium;
        color: $low;
      }

      .high {
        border: 1px solid $high;
        color: $high;
      }

      .emergency {
        border: 1px solid $emergency;
        color: $emergency;
      }
    }

    &.user-roles {
      & > span {
        display: block;
        padding: 4px 10px;
        font-size: 12px;
        border-radius: 15px;
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
        text-transform: lowercase;
        background: rgba(255, 255, 255, 0.4);
      }
    }

    &.task-status {
      max-width: 120px;
      text-transform: lowercase;

      & > span {
        display: block;
        padding: 2px 10px;
        font-size: 12px;
        border-radius: 15px;
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
        text-transform: lowercase;
      }

      .estimating {
        border: 1px solid $estimating;
        color: $estimating;
      }

      .todo {
        border: 1px solid $todo;
        color: $todo;
      }

      .in_progress {
        border: 1px solid $inprogress;
        color: $inprogress;
      }

      .testing {
        border: 1px solid $testing;
        color: $testing;
      }

      .done {
        border: 1px solid $done;
        color: $done;
      }

      .released {
        border: 1px solid $released;
        color: $released;
      }
    }

    &.project-tasks {
      max-width: 110px;
    }

    &.project-modified,
    &.task-created {
      max-width: 160px;
    }

    .tasks-uncompleted {
      line-height: 1;
      color: #f36767;
      font-size: 16px;
    }

    .tasks-completed {
      line-height: 1;
      color: #34d887;
      font-size: 16px;
    }

    .separator {
      font-size: 12px;
      padding: 0px 3px;
    }
  }
}

.table__no-results {
  display: flex;
  flex-direction: row;
  background-color: $secondary-bg;
  margin-bottom: 15px;
  min-height: 60px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-family: 'Varela Round', sans-serif;
  color: $muted-color;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 44px;
  height: 44px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;

  &-visible {
    opacity: 1;
    visibility: visible;
  }

  &__qube-1 {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    top: 12px;
    left: 12px;
    animation-name: qubes1;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    transform: translate(-12px, -12px);
  }

  &__qube-2 {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    top: 12px;
    left: 12px;
    animation-name: qubes2;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    transform: translate(-12px, 12px);
  }

  &__qube-3 {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    top: 12px;
    left: 12px;
    animation-name: qubes3;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    transform: translate(12px, 12px);
  }

  &__qube-4 {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    top: 12px;
    left: 12px;
    animation-name: qubes4;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    transform: translate(12px, -12px);
  }
}

@keyframes qubes1 {
  0%,
  100% {
    transform: translate(-12px, -12px);
  }
  5% {
    transform: translate(-12px, 12px);
  }
  25% {
    transform: translate(-12px, 12px);
  }
  30% {
    transform: translate(12px, 12px);
  }
  50% {
    transform: translate(12px, 12px);
  }
  55% {
    transform: translate(12px, -12px);
  }
  75% {
    transform: translate(12px, -12px);
  }
  80% {
    transform: translate(-12px, -12px);
  }
}

@keyframes qubes2 {
  0%,
  100% {
    transform: translate(-12px, 12px);
  }
  5% {
    transform: translate(12px, 12px);
  }
  25% {
    transform: translate(12px, 12px);
  }
  30% {
    transform: translate(12px, -12px);
  }
  50% {
    transform: translate(12px, -12px);
  }
  55% {
    transform: translate(-12px, -12px);
  }
  75% {
    transform: translate(-12px, -12px);
  }
  80% {
    transform: translate(-12px, 12px);
  }
}

@keyframes qubes3 {
  0%,
  100% {
    transform: translate(12px, 12px);
  }
  5% {
    transform: translate(12px, -12px);
  }
  25% {
    transform: translate(12px, -12px);
  }
  30% {
    transform: translate(-12px, -12px);
  }
  50% {
    transform: translate(-12px, -12px);
  }
  55% {
    transform: translate(-12px, 12px);
  }
  75% {
    transform: translate(-12px, 12px);
  }
  80% {
    transform: translate(12px, 12px);
  }
}

@keyframes qubes4 {
  0%,
  100% {
    transform: translate(12px, -12px);
  }
  5% {
    transform: translate(-12px, -12px);
  }
  25% {
    transform: translate(-12px, -12px);
  }
  30% {
    transform: translate(-12px, 12px);
  }
  50% {
    transform: translate(-12px, 12px);
  }
  55% {
    transform: translate(12px, 12px);
  }
  75% {
    transform: translate(12px, 12px);
  }
  80% {
    transform: translate(12px, -12px);
  }
}
