$body-bg1: #6d7484;
$body-bg2: #3c4250;

$primary: #5a6070;
$secondary: #ff9f03;

$header-color: #eeeeee;
$muted-color: #6c6e6f;

$btnbg1: $secondary;
$btnbg2: #fb6608;

$blocks-bg1: #5b6171;
$blocks-bg2: #3d4351;

$input-bg: #535a6a;
$input-border-color: #686f7e;
$input-border-color-focus: #a5a5a5;

$error-color: #ea4a4a;
$success-color: #34d887;

// NEW
$primary-bg: #262a2e;
$secondary-bg: #303337;

$lines-color: $secondary-bg;

// Priorities
$low: #e4bf0b;
$medium: #e08a39;
$high: #ea4a4a;
$emergency: #f30e0e;

// Statuses
$estimating: #999999;
$todo: #ea4a4a;
$inprogress: #e4bf0b;
$testing: #34d887;
$done: #1b9458;
$released: #6767dc;

//#1c66ca - bg
//#5189d6 - color
