.card {
  margin-bottom: 30px;

  &__header {
    display: flex;
    align-items: stretch;
    margin: 0px 0px 15px;

    h4 {
      margin: 0;
      color: $header-color;
      line-height: 2rem;
      font-size: 1.2rem;
      letter-spacing: 0.5px;
    }
  }

  &__actions {
    margin-left: auto;
  }
}

.widgets {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;

  .widget {
    max-width: calc(33% - 15px);
    width: 100%;
    padding: 30px;
    background: linear-gradient(-205deg, #5c6272 0%, #5c6272 100%);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);

    &__header {
      h4 {
        margin: 0px 0px 15px;
        color: $header-color;
        line-height: 1;
        font-size: 1.2rem;
        letter-spacing: 0.5px;
      }
    }

    &__body {
      color: $muted-color;
    }
  }
}
