.chat__messages {
  height: calc(100vh - 340px);
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 200px;

  &__messages-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    border: 1px solid $lines-color;
    border-radius: 5px;
    height: auto;
  }
}

.chat {
  &__message {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: relative;
    margin-bottom: 0;
    width: 100%;
    padding: 10px 30px;
    transition: all 0.2s ease;
    background: transparent;

    @include breakpoint(xs) {
      padding: 6px 10px 6px 0px;
    }

    &:hover {
      background-color: $secondary-bg;

      .chat__message-content {
        box-shadow: none;
      }
    }

    &-out {
      justify-content: flex-end;

      .chat__message-content {
        background-color: $input-bg;

        &:before {
          content: '';
          position: absolute;
          right: -7px;
          bottom: 0;
          border-style: solid;
          border-width: 14px 0 0 14px;
          border-color: transparent transparent transparent $input-bg;
          z-index: 1;
        }
      }
    }

    &-in {
      .chat__message-content {
        &:before {
          content: '';
          position: absolute;
          left: -7px;
          bottom: 0;
          border-style: solid;
          border-width: 0 0 14px 14px;
          border-color: transparent transparent $secondary-bg transparent;
          z-index: 1;
        }
      }
    }
  }

  &__message-body {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
    max-width: 700px;
  }

  &__message-meta {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 8px;
  }

  &__message-user {
    color: $secondary;

    @include breakpoint(xs) {
      font-size: 12px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &-deleted {
      color: $muted-color;
    }
  }

  &__message-date {
    color: $muted-color;
    font-size: 12px;
    line-height: 1;
    padding-left: 30px;
    margin-left: auto;

    @include breakpoint(xs) {
      font-size: 11px;
      padding-left: 20px;
      letter-spacing: 0;
    }
  }

  &__message-content {
    position: relative;
    background-color: $secondary-bg;
    padding: 8px 12px 8px 12px;
    border-radius: 4px;
    width: 100%;
    z-index: 2;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  }

  &__new-message {
    margin-top: 30px;
    position: relative;
    form {
      .form-group {
        textarea {
          padding-right: 120px;
        }

        &:last-of-type {
          margin-bottom: 0;
        }
      }

      button {
        position: absolute;
        bottom: 5px;
        right: 0;
      }
    }
  }
}
